@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
    font-family: "pop";
    src: url("../public/");
}
@font-face {
    font-family: "glory";
    src: url("../public/assets/glory.ttf");
} */

body{
    color: #f3f2ff;
    background-color: #263244;
}

._gradientText{
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

._center{
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}