@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
    font-family: "pop";
    src: url("../public/");
}
@font-face {
    font-family: "glory";
    src: url("../public/assets/glory.ttf");
} */

body{
    color: #f3f2ff;
    background-color:  #263243;
}

._blur{
    
    backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
._gradientBackground{
    
    opacity: 1;
    background-image:linear-gradient(rgba(38, 50, 68, 0), #263243);
}

._gradientText{
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

._center{
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}